<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}">
  <link rel="favicon" href="/static/images/favicon.ico">

  <!-- Custom metadata -->
  {% if page.title %}
    <title>{{ page.title }} – {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/main.scss" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

  <!-- Add SEO here -->
  {%- seo -%}
</head>